.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m) var(--space-s);

  background-color: var(--neutral-800);
  border-radius: var(--radius-m);

  min-height: 0;
}

.hourly-forecast__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast__title {
  font-weight: 500;
  font-size: var(--font-m);
}

.hourly-forecast__button {
  display: flex;
  gap: var(--space-xs);
  padding: 0.5rem var(--space-s);

  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: var(--font-xs);

  border: none;
  border-radius: 0.5rem;
  background-color: var(--neutral-600);
  color: var(--neutral-0);
  cursor: pointer;

  transition: 0.3s ease-in background-color;
}

.hourly-forecast__button:hover {
  background-color: var(--neutral-700);
}

.hourly-forecast__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s); 
  flex: 1 1 auto;
  min-height: 0;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-700) var(--neutral-800);
}

.hourly-forecast__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space-xxs) var(--space-s) var(--space-xxs) var(--space-xs);

  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-s);
}

.hourly-forecast__time-block {
  display: flex;
  align-items: center; 
}

.hourly-forecast__icon {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
}

.hourly-forecast__time {
  font-weight: 500;
  font-size: var(--font-m);
}

.hourly-forecast__temperature {
  font-weight: 500;
  font-size: var(--font-xs);
}

@media (prefers-reduced-motion: reduce) {
  .hourly-forecast__button {
    transition: none;
  }
}