.header {
  width: calc(100vw - var(--page-inline-padding) * 2);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: clamp(3rem, 5vw, 4rem);
}

.header__logo-icon {
  width: clamp( 8.625rem, 18vw, 12.5rem);
}

.header__title {
  margin-block-end: 3rem;
  text-align: center;
  font-size: 3.25rem;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.header__units-button {
  display: flex;
  align-items: center;
  gap: clamp(0.375rem, 1vw, 0.625rem);

  padding: clamp(0.5rem, 2vw, 0.75rem) clamp(0.625rem, 2.5vw, 1rem);

  background-color: var(--neutral-800);
  color: var(--neutral-0);
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 500;
  line-height: 1.2;
  border: none;
  border-radius: 6px;
}