.units-window__section {
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-300);
  border-top: 1px solid var(--neutral-600);
}

.units-window__section:first-of-type {
  border: none;
}

.options-window .units-window__switch {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0.5rem;
}

.units-window__option {
  display: flex;
  justify-content: space-between;
  padding: 10px 0.5rem;
}

.units-window__option:hover,
.options-window .units-window__switch:hover,
.units-window__option--selected {
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
}

.units-window__option:active,
.units-window__switch:active {
  outline: 1px solid var(--neutral-0);
  outline-offset: 1px;
}