.units-window__section {
  padding: 0.275rem 0.5rem;
  font-size: var(--font-xxs);
  font-weight: 500;
  color: var(--neutral-300);
  border-top: 1px solid var(--neutral-600);
}

.units-window__section:first-of-type {
  border: none;
}

.options-window .units-window__switch {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-xxs) 0.5rem;

  transition: 0.2s ease-in background-color;
}

.units-window__option {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xxs) 0.5rem;

  transition: 0.2s ease-in background-color;
}

.units-window__option:hover,
.options-window .units-window__switch:hover,
.units-window__option--selected {
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
}

.units-window__option:active,
.units-window__switch:active,
.units-window__option:focus,
.units-window__switch:focus {
  outline: 1px solid var(--neutral-0);
  outline-offset: 1px;
  border-radius: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  .options-window .units-window__switch,
  .units-window__option {
    transition: none;
  }
}