.daily-forecast__title {
  margin-block-end: var(--space-m);
  font-weight: 500;
  font-size: var(--font-m);
}

.daily-forecast__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5.25rem, 1fr));
  gap: var(--space-s);
}

.daily-forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
  padding: var(--space-s) var(--space-xxs);

  font-weight: 500;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-s);
}

.daily-forecast__icon {
  width: 3.75rem;
  aspect-ratio: 1 / 1;
}

.daily-forecast__temperatures {
  width: 100%;
  display: flex;
  justify-content: space-between;
}